.container {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.container::-webkit-scrollbar {
    height: 8px;
}

.container::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

.contentContainer {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 1350px;
    max-width: 1350px;
    gap: 50px;
}

.contentContainer h3 {
    margin: 0px;
    text-align: center;
}

.totalContainer {
    display: flex;
    margin: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 1350px;
    max-width: 1350px;
}

.totalContainer h3 {
    margin: 0px;
    text-align: center;
}

.smallController {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.planContainer,
.manageContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 50%;
    gap: 5px;
}

.bill {
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: aliceblue;
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    min-width: 400px;
    max-width: 600px;
}

.total {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: aliceblue;
    padding: 15px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    /* margin-left: 5px; */
    min-width: 1320px;
    max-width: 1320px;
}

.income {
    background-color: rgb(192, 255, 192);
}

.expense {
    background-color: rgb(255, 188, 188)
}

.saving {
    background-color: rgb(192, 236, 255);
}

.extra {
    background-color: rgb(255, 216, 198);
}

.labels {
    font-weight: bold;
}

.billName {
    max-width: 200px;
    min-width: 200px;
    text-align: left;
}

.billDate {
    max-width: 95px;
    min-width: 95px;
    text-align: center;
}

.billCategory {
    max-width: 100px;
    min-width: 100px;
    text-align: left;
}

.budget {
    max-width: 100px;
    min-width: 100px;
    text-align: right;
}

.actual {
    max-width: 100px;
    min-width: 100px;
    text-align: right;
}

.remain {
    max-width: 100px;
    min-width: 100px;
    text-align: right;
}

.PIbtn,
.PEbtn,
.PSbtn,
.MIbtn,
.MEbtn,
.MSbtn {
    font-family: 'UTM Avo';
    background-color: rgb(225, 224, 224);
    padding: 10px;
    font-size: 0.8rem;
    border-radius: 10px;
    border: none;
}

.planExpenses,
.planIncomes,
.planSavings,
.manageExpenses,
.manageIncomes,
.manageSavings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 250px;
    margin-bottom: 5px;
}

.graph {
    width: 150px;
    height: 150px;
    position: relative;
}

.outer {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.1),
        -6px -6px 10px -1px rgba(0, 0, 0, 0.1);
}

.inner {
    background-color: white;
    width: 118px;
    height: 118px;
    border-radius: 50%;
    box-shadow:
        inset 4px 4px 6px -1px rgba(0, 0, 0, 0.1),
        inset -4px -4px 6px -1px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.numberIncomes,
.numberExpenses,
.numberSavings,
.numberExtras,
.totalNumber {
    font-weight: bold;
    color: rgb(62, 62, 62);
}

.incomeBar {
    transform: rotate(270deg);
    transform-origin: center;
    fill: none;
    stroke: rgb(192, 255, 192);
    stroke-width: 13px;
    stroke-dasharray: 420;
    stroke-dashoffset: 80;
    animation: anim 0.5s linear forwards;
}

.expenseBar {
    transform: rotate(270deg);
    transform-origin: center;
    fill: none;
    stroke: rgb(255, 188, 188);
    stroke-width: 13px;
    stroke-dasharray: 420;
    stroke-dashoffset: 220;
}



.savingBar {
    transform: rotate(270deg);
    transform-origin: center;
    fill: none;
    stroke: rgb(192, 236, 255);
    stroke-width: 13px;
    stroke-dasharray: 420;
    stroke-dashoffset: 320;
}

.incBarBudget,
.incBarActual {
    transform: rotate(270deg);
    transform-origin: center;
    fill: none;
    stroke: rgb(192, 255, 192);
    stroke-width: 13px;
    stroke-dasharray: 420;
    stroke-dashoffset: 80;
    animation: anim 0.5s linear forwards;
}

.savBarActual,
.savBarBudget {
    /* transform: rotate(-90deg); */
    transform: scaleX(-1);
    transform-origin: center;
    fill: none;
    stroke: rgb(192, 236, 255);
    stroke-width: 13px;
    stroke-dasharray: 420;
    stroke-dashoffset: 170;
}

.expBarActual,
.expBarBudget {
    /* display: none; */
    transform: rotate(270deg);
    transform-origin: center;
    fill: none;
    stroke: rgb(255, 188, 188);
    stroke-width: 13px;
    stroke-dasharray: 420;
    stroke-dashoffset: 220;
}

.extraBar {
    transform: rotate(270deg);
    transform-origin: center;
    fill: none;
    stroke: rgb(255, 216, 198);
    stroke-width: 13px;
    stroke-dasharray: 420;
    stroke-dashoffset: 117.6;
}

svg {
    position: absolute;
    top: 0;
    left: 0;
}

#financeFinder {
    text-align: center;
    font-family: 'UTM Avo';
    font-size: 1.33rem;
    font-weight: bold;
    border: none;
    background-color: white;
}

input,
select,
option {
    font-family: 'UTM Avo';
    font-size: 1rem;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.bill-details-container {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 600px;
}

.bill-details-container h2 {
    text-align: center;
    margin-bottom: 10px;
}

.bill-details-container p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bill-details-container input[type="text"],
.bill-details-container input[type="date"],
.bill-details-container input[type="number"],
#billType {
    width: 80%;
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.bill-details-container .bill-actions {
    margin-top: 20px;
    text-align: center;
}

.bill-actions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.bill-actions button {
    font-family: 'UTM Avo';
    font-size: 1rem;
    color: black;
    width: 90px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.bill-details-container .save-bill,
.create-bill {
    background-color: #a5ffa8;
    font-family: 'UTM Avo';
    font-size: 1rem;
    color: black;
    width: 90px;
    padding: 10px;
    border-radius: 15px;
}

.bill-details-container .delete-bill {
    background-color: #ffb7b1;
    font-family: 'UTM Avo';
    font-size: 1rem;
    color: black;
    width: 90px;
    padding: 10px;
    border-radius: 15px;
}

.bill-details-container .cancel-bill {
    background-color: #ccc;
    font-family: 'UTM Avo';
    font-size: 1rem;
    color: black;
    width: 90px;
    padding: 10px;
    border-radius: 15px;
}

#billDescription {
    resize: none;
    font-family: 'UTM Avo';
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
}

#addBillButton {
    padding: 10px;
    border-radius: 10px;
    font-family: 'UTM Avo';
    font-size: 1rem;
    background-color: rgb(63, 72, 238);
    color: white;
    border: none;
    width: 100px;
}

#newFinance {
    padding: 10px;
    border-radius: 10px;
    font-family: 'UTM Avo';
    font-size: 1rem;
    background-color: rgb(63, 72, 238);
    border: none;
    color: white;
    width: 110px;
}

.bill:hover,
.total:hover {
    transform: scale(1.02);
}

.bill,
.total {
    transition: transform 0.1s ease;
    cursor: pointer;
}

.labels:hover {
    transform: none;
}

button:active {
    transform: scale(0.95);
}

button {
    transition: transform 0.05s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.graph {
    transition: transform 0.05s ease;
    cursor: pointer;
}

.graph:hover {
    transform: scale(1.1);
}