@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        /* Bóng đổ tắt */
    }

    50% {
        box-shadow: 0 0 10px rgba(43, 42, 42, 0.5);
        /* Bóng đổ sáng */
    }
}

#customAlert {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #b2f6b2;
    padding: 20px;
    border-radius: 20px;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}


body {
    font-family: 'UTM Avo';
    margin: 0px;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(235, 242, 250);
    border-radius: 10px;
}

a {
    text-decoration: none;
}

a:link,
a:visited {
    color: black;
}


.navigationBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 242, 250);
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigationBar .textLogo {
    padding-left: 40px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 1.5rem;
}

.navBarContainer a {
    color: rgb(66, 122, 161)
}

.navigationBar .textLogo a {
    color: rgb(6, 71, 137);
}

.navBarContainer {
    display: flex;
    padding-right: 40px;
}

.navBarItem {
    transition: background-color 0.5s ease;
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    background-color: rgb(235, 242, 250);
}

.navBarItem:hover {
    background-color: rgb(186, 186, 186);
    color: white;
}

.active {
    background-color: rgb(62, 164, 189);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navBarContainer .active a {
    color: rgb(235, 242, 250);
}

#login {
    text-align: center;
    background-color: rgb(121, 166, 218);
    color: white;
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login:hover {
    text-align: center;
    background-color: rgb(151, 27, 5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login a {
    color: rgb(235, 242, 250);
}

/* END HEADER */

/* BODY START */

.dashBoard {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.dashBoard::-webkit-scrollbar {
    height: 8px;
}

.dashBoard::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

.selfIntro {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 400px;
    width: auto;
    max-width: 35rem;
    height: 230px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imgPart {
    aspect-ratio: 1 / 1;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    margin-right: 20px;
    overflow: hidden;
}

.imgPart img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
}

.textPart h3 {
    overflow: hidden;
    max-height: 3.6rem;
    margin: 0px;
}

.textPart p {
    overflow: auto;
    max-height: 5.6rem;
    margin: 0px;
    margin-top: 10px;
    text-align: justify;
    scrollbar-width: none;
}

.text-content-wrapper {
    height: calc(1.4rem * 5);
    overflow: hidden;
    position: relative;
}

.text-content-wrapper::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    background: linear-gradient(transparent, white);
}

.selfIntro img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.currentProgress {
    width: 400px;
    max-height: 230px;
    min-height: 230px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.currentProgress a {
    color: rgb(47, 99, 204);
}

.progressStat {
    text-align: center;
    color: white;
    font-size: 0.8rem;
}


.skillStat {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progressBar {
    width: 250px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.progressStat {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    animation: glow 2s infinite alternate;
}

.progressStat:hover {
    height: 100%;
    background-color: rgb(67, 137, 207);
    border-radius: 10px;
}

.webIntro {
    justify-content: center;
    width: 300px;
    min-height: 230px;
    max-height: 230px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.noteList {
    list-style-type: none;
    padding: 0;
}

.noteItem {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: rgb(121, 166, 218);
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease;
}

.noteItem:hover {
    background-color: rgb(62, 164, 189);
}

/* FOR THE CALENDAR */
.calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    min-height: 200px;
    max-height: 230px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cellDay {
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.2s ease;
}

.cellDay:hover {
    background-color: #bcbcbc;
}

.dayName {
    border-radius: 20px;
    background-color: #80cf83;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nextMonth {
    opacity: 0.5;
}

.calendarLine {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.calendarDay {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

.today {
    background-color: rgb(225, 129, 129);
    border-radius: 20px;
    animation: glow 2s infinite alternate;
}

.pinnedDoc {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
    white-space: nowrap;
}

.pinnedDoc::-webkit-scrollbar {
    height: 8px;
    /* Adjust height as needed */
}

.pinnedDoc::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

.document {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.document:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.docImage {
    aspect-ratio: 1 / 1;
    min-width: 200px;
    min-height: 200px;
    max-height: 200px;
    max-width: 200px;
    overflow: hidden;
}

.docImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 20px 20px;
}

.docTitle {
    opacity: 0.7;
    margin-bottom: 0px;
}

.docShort {
    white-space: nowrap;
    max-width: 20ch;
    text-overflow: ellipsis;
    min-height: 1.4rem;
    overflow: hidden;
    opacity: 0.7;
}

.document:hover .docImage,
.document:hover h4,
.document:hover p {
    opacity: 1.0;
    transition: opacity 0.5s ease;
}

.divider {
    margin: 20px;
    text-align: center;
    font-size: 1.2rem;
}

.footer {
    background-color: rgb(235, 242, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact div {
    font-size: 1.2rem;
    padding: 5px;
}

.contact i {
    color: rgb(6, 71, 137);
}

@media (max-width: 1028px) {
    .navigationBar {
        padding: 0 20px;
    }

    .navBarItem {
        padding-left: 10px;
        padding-right: 10px;
    }

    .selfIntro {
        min-width: 300px;
    }

    .currentProgress,
    .webIntro,
    .calendar,
    .document {
        width: 100%;
        max-width: none;
    }

    .imgPart {
        min-width: 150px;
        max-width: 150px;
    }
}


#checkbox {
    display: none;

}


.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition-duration: .5s;
    display: none;
}

.bars {
    width: 100%;
    height: 4px;
    background-color: rgb(0, 91, 161);
    border-radius: 4px;
    transition-duration: .5s;
}

#bar2 {
    transition-duration: .8s;
}

#bar1,
#bar3 {
    width: 70%;
}

@media (max-width: 700px) {
    .toggle {
        display: flex;
    }

    .navBarContainer {
        display: none;
    }

    /* #youtubePlayer {
        display: none;
    } */

    #checkbox:checked+.toggle .bars {
        position: absolute;
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar2 {
        transform: scaleX(0);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar1 {
        width: 100%;
        transform: rotate(45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle #bar3 {
        width: 100%;
        transform: rotate(-45deg);
        transition-duration: .5s;
    }

    #checkbox:checked+.toggle {
        transition-duration: .5s;
        transform: rotate(180deg);
    }

    #checkbox:checked+.toggle~.navBarContainer {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 1000;
    }

    .navigationBar {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }

    .navBarContainer {
        padding-right: 0px;
    }

    .navBarItem {
        padding-left: 5px;
        padding-right: 5px;
        margin: 2px;
        text-align: center;
    }

    .navBarItem a {
        width: 100%;
    }

    /* .selfIntro,
    .currentProgress,
    .webIntro,
    .calendar,
    .document {
        margin: 10px;
        padding: 10px;
    } */

    .imgPart {
        min-width: 100px;
        max-width: 100px;
    }

    .navBarContainer ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    .navBarContainer ul li {
        margin-bottom: 1rem;
    }

    .navBarContainer ul li a {
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;
        transition: color 0.3s;
    }

    .navBarContainer ul li a:hover {
        color: rgb(176, 92, 255);
    }
}