.countBoard {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    background: url("/img/1354012.png") no-repeat center center fixed;
    min-height: 800px;
    /* background-color: rgb(177, 207, 241); */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.inputField {
    margin: 0px;
    margin-top: 20px;
}

#playerContainer {
    position: fixed;
    bottom: 30px;
    right: 30px;
    max-width: 380px;
    max-height: 260px;
    min-width: 380px;
    min-height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(235, 242, 250);
    border-radius: 20px;
    cursor: move;
}

#youtubePlayer input {
    cursor: move;
}

.titleCount {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    margin: 0px;
    margin-top: 50px;
    font-size: 1.2rem;
}

#startBtn {
    font-family: 'UTM Avo';
    font-size: 1rem;
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 5px;
    width: 100px;
    /* height: 30px; */
    justify-content: center;
    text-align: center;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    color: rgb(78, 78, 78);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.inputField input {
    /* border: none; */
    font-size: 1rem;
    font-family: 'UTM Avo';
    border-radius: 20px;
    text-align: center;
    max-width: 100px;
    margin-right: 5px;
    margin-left: 5px;
    min-height: 30px;
}

span {
    font-size: 2rem;
    margin-bottom: 50px;
    color: rgb(78, 78, 78);
}

.countDown {
    margin: 0px;
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.countDown h3 {
    /* align-items: center; */
    margin-top: 35px;
    border-radius: 20px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    color: rgb(78, 78, 78);
    padding-top: 0px;
    padding-bottom: 10px;
    font-size: 5rem;
}