.editorContainer {
    background-color: rgb(201, 219, 240);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.viewContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.notePreview {
    width: 65%;
    max-width: 950px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.actionContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.actionButton {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 15px;
    max-width: 400px;
    gap: 20px;
    width: 30%;
    min-width: 10%;
    align-items: center;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.actionButton:hover {
    box-shadow: 0 2px 3px rgba(0.2, 0.2, 0.2, 0.2);
}

.noteBody textarea {
    resize: none;
    font-size: 1rem;
    font-family: 'UTM Avo';
    border-radius: 10px;
    padding: 5px;
    margin-top: 16px;
    border: none;
    width: 100%;
    height: auto;
    min-height: 500px;
    overflow: auto;
}

.noteImg {
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.noteImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 20px 20px 20px;
}

.enterEdit {
    /* margin: 20px; */
    border-radius: 10px;
    background-color: rgb(248, 197, 102);
    padding: 10px;
}

.embeddedImg {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 60%;
    min-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    max-height: 350px;
    border-radius: 20px;
}

.embeddedImg img {
    object-fit: scale-down;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}