.thumbnail {
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.1s ease;
}

.thumbnail:hover {
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.03);
}

#listContainer {
    width: 80%;
    justify-content: center;
}

#currentList {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    justify-content: center;
    place-items: center;
    margin-bottom: 20px;
}

.watchAndList {
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 0px;
    padding-bottom: 20px;
    overflow-x: auto;
}

.miniNav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.miniNav a {
    width: 80px;
    text-align: center;
}

#videoUrl {
    font-size: 1rem;
    width: 300px;
    padding: 10px;
    margin-top: 0px;
    border-radius: 20px;
    box-sizing: border-box;
}

#youtubePlayer {
    aspect-ratio: 16 / 9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-bottom: 30px;
}

#player {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    margin-top: 30px;
    border-radius: 20px;
}

@media (max-width: 700px) {
    #videoUrl {
        width: 100px;
    }

    #player {
        max-height: 200px;
    }
}

#searchSection {
    margin-top: 20px;
}

#searchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchResults {
    margin-top: 10px;
}

.result-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.result-item img {
    width: 120px;
    height: 90px;
    margin-right: 10px;
}

.result-item h3 {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 20px;
}

.modal-buttons {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.modal-buttons button {
    width: 100px;
    font-family: 'UTM Avo';
    font-size: 0.9rem;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
}

#confirmDelete {
    transition: box-shadow 0.2s ease;
    background-color: rgb(255, 179, 179);
}

#cancelDelete {
    transition: box-shadow 0.2s ease;
    background-color: rgb(254, 254, 192);
}

#confirmDelete:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* background-color: rgb(255, 179, 179); */
}

#cancelDelete:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* background-color: rgb(254, 254, 192); */
}

#controllerContainer {
    margin-bottom: 10px;
    /* margin-top: 5px; */
}

#controllerDiv {
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 15px;
    gap: 15px;
    border-radius: 30px;
    padding-right: 20px;
    padding-left: 20px;
}

#controllerDiv button {
    /* background-color: gray; */
    font-size: 1.05rem;
    border-radius: 20px;
    padding: 5px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    border: none;
    transition: transform 0.1s ease;
    cursor: pointer;
    /* border: 2px solid gray; */
}

#videoUrl {
    border: none;
    background-color: rgb(227, 227, 227);
}

#nxtBtn,
#prvBtn,
#cineMode,
#addQueue {
    background-color: rgb(227, 227, 227);
}

#nxtBtn:hover,
#prvBtn:hover,
#cineMode:hover,
#addQueue:hover,
#loop:hover,
#plMode:hover {
    transform: scale(1.1);
}

#loop,
#plMode {
    background-color: rgb(121, 166, 218);
    color: white;
}

.thumbnail-placeholder {
    width: 88px;
    height: 50px;
    border: 2px dashed #ccc;
    margin: 5px;
    border-radius: 5px;
}

.thumbnail {
    transition: transform 0.2s ease;
}