@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        /* Bóng đổ tắt */
    }

    50% {
        box-shadow: 0 0 10px rgba(43, 42, 42, 0.5);
        /* Bóng đổ sáng */
    }
}

body {
    font-family: 'UTM Avo';
    /* font-family: 'Montserrat', sans-serif; */
    width: auto;
    /* height: auto; */
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 242, 250);
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    padding-left: 40px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 1.5rem;
}

.navcontainer a {
    color: rgb(66, 122, 161)
}

.navbar .logo a {
    color: rgb(6, 71, 137);
}

.navcontainer {
    display: flex;
    padding-right: 40px;
}

.navcontainer div {
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.navcontainer .active {
    background-color: rgb(62, 164, 189);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navcontainer .active a {
    color: rgb(235, 242, 250);
}

/* .hitem {
    transition: background-color 0.5s ease;
}

.hitem:hover {
    background-color: rgb(121, 166, 218);
} */

#login {
    text-align: center;
    background-color: rgb(6, 71, 137);
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login:hover {
    text-align: center;
    background-color: rgb(121, 166, 218);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#login a {
    color: rgb(235, 242, 250);
}

#signup {
    width: 90px;
}

/* END HEADER */

/* BODY START */

.icontainer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.stat a {
    color: rgb(47, 99, 204);
}

.skillstat {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jsprogress1 {
    width: 250px;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
}

.jsbar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 10px;
    transition: background-color 0.5s ease;
    animation: glow 2s infinite alternate;
}

.jsbar:hover {
    height: 100%;
    background-color: rgb(67, 137, 207);
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.introduction {
    display: flex;
    justify-content: center;
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info img {
    margin-right: 20px;
}

/* FOR THE CALENDAR */
.calendar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.thungay {
    /* border: 2px solid red; */
    border-radius: 20px;
    background-color: #80cf83;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nextmonth {
    opacity: 0.5;
}

.line {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.day {
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 5px;
}

/* NOTE */

.noteboard {
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

.noteSearch {
    /* margin: 20px; */
    padding: 20px;
    display: flex;
    justify-content: end;
}

#finder {
    border-radius: 5px;
    font-family: 'UTM Avo';
    font-size: 1.0rem;
}

.noteLine {
    display: flex;
    align-items: center;
}


/* PART 2: DOCUMENT */

.documents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.report {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imgDoc {
    opacity: 0.7;
}

.docTitle {
    opacity: 0.7;
}

.shortly {
    opacity: 0.7;
}

.report:hover .imgDoc,
.report:hover h4,
.report:hover p {
    opacity: 1.0;
    transition: opacity 0.5s ease;
}

.division {
    margin: 20px;
    text-align: center;
    font-size: 1.2rem;
}

/* HABIT START */

.habitContainer {
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin: 20px;
    background-color: rgb(177, 207, 241);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.status h3 {
    margin: 5px;
}

.status {
    /* display: flex; */
    /* justify-content: center; */
    width: 900px;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo {
    width: auto;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.habits {
    width: auto;
    height: 200;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.habitLine {
    display: flex;
    justify-content: space-between;
}

.habitInfo {
    height: 60px;
    border-radius: 20px;
    padding: 10px;
    padding-right: 20px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.emergency {
    background-color: rgb(234, 128, 128);
}

.calm {
    background-color: rgb(138, 247, 114);
}

/* FOOTER START */

.footer {
    background-color: rgb(235, 242, 250);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact div {
    font-size: 1.2rem;
    padding: 5px;
}

.contact i {
    color: rgb(6, 71, 137);
}