.editorContainer {
    background-color: rgb(201, 219, 240);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noteSave {
    width: 97.5%;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    height: 30px;
    font-family: 'UTM Avo';
}

.ideContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.viewContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.notePreview {
    width: 50%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
}

.noteBody textarea {
    resize: none;
    font-size: 1rem;
    font-family: 'UTM Avo';
    border-radius: 10px;
    padding: 5px;
    margin-top: 16px;
    border: none;
    width: 100%;
    height: auto;
    min-height: 500px;
    overflow: auto;
}

.noteIDE {
    width: 50%;
    margin: 20px;
    padding: 20px;
    /* background-color: #89caff; */
    background-color: #dcdcdc;
    border-radius: 20px;
}

.ideContainer input {
    margin-top: 16px;
    width: 100%;
}

.noteCover {
    width: 50%;
    margin: 20px;
    padding: 20px;
    /* background-color: #89caff; */
    background-color: #ffffff;
    border-radius: 20px;
    /* align-items: center; */
}

.enterEdit {
    /* margin: 20px; */
    border-radius: 10px;
    background-color: rgb(248, 197, 102);
    padding: 10px;
}

.noteIDE div {
    margin-right: 20px;
    margin-left: 10px ;
}

.noteImg input {
    font-size: 1rem;
    font-family: 'UTM Avo';
    border-radius: 10px;
    padding: 5px;
    border: none;
}