.navigationBarguets {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(235, 242, 250);
    height: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigationBarguets .textLogo {
    padding-left: 40px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 1.5rem;
}


.sectionContainerguest {
    display: flex;
    padding-right: 40px;
}

.sectionContainerguest a {
    color: rgb(235, 242, 250);
}


.sectionContainerguest div {
    margin: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.sectionItem {
    transition: background-color 0.5s ease;
}

.sectionItem:hover {
    background-color:#ffffff;
}

#loginguest {
    text-align: center;
    color: rgb(235, 242, 250);
    background-color: rgb(6, 71, 137);
    transition: background-color 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

#loginguest:hover {
    text-align: center;
    background-color: rgb(121, 166, 218);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


